name = "oy2"
main = "./worker/index.ts"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]
preview_urls = true

[placement]
mode = "smart"

[assets]
run_worker_first = ["/api/*"]
not_found_handling = "single-page-application"

[vars]
RP_NAME = "Oy"
WEBAUTHN_ORIGIN = "https://oyme.site"
WEBAUTHN_RP_ID = "oyme.site"

[[routes]]
pattern = "oyme.site"
custom_domain = true

# Hyperdrive - main DB.
[[hyperdrive]]
binding = "HYPERDRIVE"
id = "f9cd31eff0a444f0b02cca63f470a151"

[[hyperdrive]]
binding = "HYPERDRIVE_NO_CACHE"
id = "135558b7b7dd4bf08fb8e8c2bb4a9326"

[[kv_namespaces]]
binding = "OY2"
id = "3dff6009997c423ead2cea611dc58cb3"

[env.dev]
name = "oy2-dev"

[env.dev.vars]
RP_NAME = "Oy"
WEBAUTHN_ORIGIN = "https://dev.oyme.site"
WEBAUTHN_RP_ID = "dev.oyme.site"

[[env.dev.routes]]
pattern = "dev.oyme.site"
custom_domain = true

[[env.dev.hyperdrive]]
binding = "HYPERDRIVE"
id = "f9cd31eff0a444f0b02cca63f470a151"

[[env.dev.hyperdrive]]
binding = "HYPERDRIVE_NO_CACHE"
id = "135558b7b7dd4bf08fb8e8c2bb4a9326"

[[env.dev.kv_namespaces]]
binding = "OY2"
id = "baa178298c3b4f84bfa9f66c5a9807a9"

[observability]
enabled = true
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
head_sampling_rate = 1
