name = "oy2"
main = "./worker/index.ts"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]
assets = { not_found_handling = "single-page-application", run_worker_first = ["/api/*"] }

[placement]
mode = "smart"

# D1 Database binding
[[d1_databases]]
binding = "DB"
database_name = "oy2-db"
database_id = "bf90ad59-1e3c-40e7-b144-bba66eb17287"

[[kv_namespaces]]
binding = "SETTINGS"
id = "4dd6c36f3baa4a20bb954ab3f977182b"

[observability]
enabled = true
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
head_sampling_rate = 1

# Development settings
[dev]
port = 8787

# Deployment settings
[[routes]]
pattern = "oyme.site"
custom_domain = true
