.add-friend-list {
	margin-top: 1rem;
}

.add-friend-list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	border: none;
}

.add-friend-list-item-content {
	flex: 1;
}
