.login-logo {
	font-size: 4rem;
	font-weight: 900;
	color: var(--primary);
	text-align: center;
	margin: 3rem 0 0.5rem;
}

.login-tagline {
	text-align: center;
	color: var(--text-light);
	margin-bottom: 3rem;
}
