.app-screen {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
}

.app-container {
	max-width: 600px;
	margin: 0 auto;
	padding: 1rem;
	width: 100%;
	display: flex;
	flex: 1;
	flex-direction: column;
	min-height: 100%;
	box-sizing: border-box;
}
